@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

html {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#top {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  width: 100%;
}

#switch {
  margin-right: 20px;
  background-color: gray;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}

.on {
  background-color: red !important; /* best practice */
}

#bubble {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: white;
  margin-left: 5px;
  transition: transform 0.4s ease-in-out;
}

#bubble:hover {
  cursor: pointer;
}

.right {
  transform: translateX(45px);
}

#peskygreendot {
  background-color: lime;
  width: 5px;
  height: 5px;
  position: fixed;
  top: 50px;
  left: 50px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  color: gray;
  margin-bottom: 30px;
}

h2 a, a:hover, a:focus, a:visited {
  text-decoration: underline;
  color: purple;
}

table {
  border: 3px solid darkgray;
  padding: 20px;
  border-radius: 10px;
  background-color: lightblue;
  border-spacing: 10px;
  box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.59);
  margin-bottom: 20px;
  transition: background-color 0.5s ease-in-out;
}

.red {
  background-color: red;
}

#display {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  padding: 12px 0px;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 5px;
}

.buttonrow {
  text-align: center;
}

.buttonrow input {
  font-size: 30px;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  border-bottom-width: 5px;
  outline: 0;
}

.buttonrow input:hover {
  filter: brightness(0.9);
}

.buttonrow input:active {
  border-bottom-width: 2px;
}
